{% extends "DBBlock.html" %}
{% block specific_style %}
[data-column="name"] {
	width: 40%;
}
[data-column="mngr"] {
	border-left: 1px solid #777;
	width: 20%;
	text-align: center;
}
[data-column="date"] {
	border-left: 1px solid #777;
	width: 25%;
	text-align: center;
}
[data-column="prov"] {
	border-left: 1px solid #777;
	width: 15%;
	text-align: center;
}
{% endblock %}
{% block caption %}Nouveaux utilisateurs{% endblock %}
{% block data_table %}
<table>
	<thead>
		<tr><th data-column="name">Nom</th>
			<th data-column="mngr">Manager</th>
			<th data-column="date">Arrivée</th>
			<th data-column="prov">LDAP</th></tr>
	</thead>
	<tbody>
	{% for u in nu %}{% if u.user %}{% if u.user.user_state == u.user.NEWIMPORT_USER %}
	<tr><td data-column="name"><a href="{% url 'new-arrival-validate' u.pk %}">{{u.first_name}} {{u.last_name}}</a></td>
		<td data-column="mngr">{{u.manager.login}}</td>
		<td data-column="date">{{u.arrival|date:"Y-m-d"}}</td>
		<td data-column="prov"><span class="{% if u.user%}found{%else%}notfound{%endif%}">⚫</span></td></tr>
	{%endif%}{%endif%}{%endfor%}
	</tbody>
</table>
{% endblock %}
