{% load staticfiles %}
<!DOCTYPE html>
<html lang="fr">
<head>
<title>IPAG - SiLabo{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% static "jquery/jquery-ui/jquery-ui.min.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/ipag.css" %}"/>
{% block css %}{% endblock %}
</head>
<body>
<div id="headblock">
<span id="loggedin">{% if user.is_authenticated %}{{ user.username }} -
<a href="{% url 'logout-view' %}">logout</a>{% endif %}</span>
</div>
{% block content %}{% endblock %}
<div id="footer">{%block footer %}{% endblock %}</div>
<div id="copyright">© IPAG 2015</div>
<script src="{% static "jquery/jquery.js" %}"></script>
<script src="{% static "jquery/jquery.cookie.js" %}"></script>
<script src="{% static "jquery/jquery-ui/jquery-ui.min.js" %}"></script>
{% block scripts %}{% endblock %}
</body>
</html>
