html {
	font-size      : 10pt;
	font-family    : segoe ui, sans, sans-serif;
}
#headblock {
	font-size: 8pt;
}
#loggedin {
	position: absolute;
	right: 0;
	z-index : 1;
}
form > table > tbody > tr > th {
	vertical-align : top;
	text-align     : left;
}
[data-type=multiselect] {
	width          : 25em;
}
[data-type=multiselect] > ul,
[data-type=display] > span > ul {
	margin         : 0;
    padding        : 0;
	width          : 20em;
}
[data-type=multiselect] > ul > li,
[data-type=display] > span > ul > li {
	line-height    : 16pt;
	margin-left    : 1em;
}
[data-control=multitext-list] {
	margin         : 0;
	padding        : 0;
	list-style     : none;
}
[data-control=multitext-entry],
[data-control=multitext-append] {
	width: 20em;
	vertical-align: middle;
}
[data-control=button] {
	width          : 14pt;
	height         : 14pt;
	cursor         : pointer;
	vertical-align : middle;
}
#footer {
	min-height     : 10ex;
}
#copyright { 
 	font-size      : 7pt;
}
