html {
	font-size      : 10pt;
	font-family    : segoe ui, sans, sans-serif;
}
#headblock {
	font-size: 8pt;
}
#loggedin {
	position: absolute;
	right: 0;
	z-index : -1;
}
form > table > tbody > tr > th {
	vertical-align : top;
	text-align     : left;
}
[data-type=multiselect] {
	width          : 25em;
}
[data-type=multiselect] > ul {
	margin         : 0;
    padding        : 0;
	width          : 20em;
}
[data-type=multiselect] > ul > li {
	line-height    : 16pt;
	margin-left    : 1em;
}
[data-control=button] {
	width          : 14pt;
	height         : 14pt;
	cursor         : pointer;		
}
#footer {
	min-height: 10ex;
}
#copyright { 
 	font-size: 7pt;
}
