{% extends "ipag-base.html" %}
{% load staticfiles %}
{% block title %} - Dashboard{% endblock %}
{% block scripts %}<script src="{% static "js/dashboard.js" %}"></script>{% endblock %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "css/menu.css" %}"/>
<link rel="stylesheet" type="text/css" href="{% static "css/dashboard.css" %}"/>{% endblock %}
{% block content %}
<h1>dashboard du si IPAG</h1>
<div class="menu">
	<ul>
		<li>Actions
			<ul>
				<li><a href="{% url 'new-arrival-form' %}">Arrivée d'une nouvelle personne</a></li>
			</ul>
		</li>
	</ul>
	<ul>
		<li>Listes
			<ul>
				<li><a href="{% url 'users' %}">Liste des utilisateurs</a></li>
{% if user.is_staff %}
				<li><a href="{% url 'groups' %}">Liste des groupes</a></li>
				<li><a href="{% url 'mailinglist-list' %}">Liste des Mailing lists</a></li>
				<li><a href="{% url 'mailalias-list' %}">Liste des alias de mail</a></li>
{% endif %}
			</ul>
		</li>
	</ul>
</div>
<div id="blocks">
{% if user.is_staff %}
<div class="ui-block" id="DBNewArrivals"></div>
<div class="ui-block" id="DBUnknownUsers" data-sort-default="arrival"></div><br/>
<div class="ui-block" id="DBReclaimMachines"></div>
{% endif %}
</div>
{% endblock %}
