{% extends "ipag-base.html" %}
{% load staticfiles %}
{% block title %} - login{% endblock %}
{% comment %}
{% block scripts %}<script src="{% static "js/base-forms.js" %}"></script>{% endblock %}
{% endcomment %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static "css/ipag.css" %}"/>{% endblock %}
{% block content %}
<p> Bienvenue sur l'application de gestion des comptes informatique de l'IPAG</p>
<p>Entrez votre login et mot de passe habituel pour accéder au formulaire de demande de création de compte.</p>
<form action="{{ action_url }}" method="post">{% csrf_token %}
<table>
<tbody>
<tr><th>Nom d'utilisateur</th><td><input type="text" name="username"/></td></tr>
<tr><th>Mot de passe</th><td><input type="password" name="password"/></td></tr>
<tr><th></th><td><button>connexion</button></td></tr>
</tbody>
</table>
</form>
{% endblock %}
