{% extends "ipag-base.html" %}
{% block title %} - Groupes{% endblock %}
{% block content %}
<p><a href="{% url 'dashboard' %}">retour au dashboard</a></p>
<h1>liste des alias de mail</h1>
<p>{{ mailaliases|length }} mail alias <button form="new-mailalias">nouvel alias de mail</button></p>
<table>
  <tbody>
{% for ma in mailaliases %}
    <tr><td><a href="{% url 'mailalias-view' ma.alias %}">{% if ma.description %}{{ ma.description }}{% else %}{{ma.alias}}{% endif %}<tr>
{% endfor %}
  </tbody>
</table>
<form id="new-mailalias" method="get" action="{% url 'mailalias-new' %}"></form>
{% endblock %}
