{% extends "ipag-base.html" %}
{% load staticfiles %}
{% block title %} - Nouvelle arrivée{% endblock %}
{% block scripts %}<script src="{% static "js/new-arrival-form.js" %}"></script>{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static "css/new-arrival-form.css" %}"/>{% endblock %}
{% block content %}
<h1>Formulaire d'enregistrement du nouvel arrivant</h1>
<div class="warning"><p>Afin d'accueillir la personne dans les <strong>meilleures conditions,</strong> vous devez remplir ce formulaire
<strong>au plus tôt</strong> (15 jours minimum avant son arrivée).</p>
<p>Le respect de ce délai lui permettra de disposer&nbsp;:</p>
<ul><li>d'un <strong>bureau</strong> pour la durée du séjour</li>
	<ul><li>vérifier la <strong>disponibilité</strong> et les <strong>caractéristiques</strong> des salles pour les 
			<a href="http://ipag.osug.fr/twiki/bin/view/Ipag/Intranet/Arrivant#Visiteurs_invit_s">visiteurs</a></li>
		<li>vérifier la <strong>disponibilité</strong> et les <strong>caractéristiques</strong> des salles poue les
			<a href="http://ipag.osug.fr/twiki/bin/view/Ipag/Intranet/DisponibiliteSallesStagiairesVisu1An?skin=plain">stagiaires</a></li></ul>
	<li>d'un <strong>badge d'accès au bâtiment</strong></li>
	<li>d'un <strong>badge pour le parking</strong></li>
	<li>d'une carte de restauration pour les personnels bénéficiaires</li>
	<li>d'un <strong>compte informatique</strong> pour accéder au système d'information de l'Institut</li>
	<li>d'un <strong>compte informatique</strong> pour accéder au système d'information de l'Université</li>
</ul>
<p>Si le nouvel arrivant n'est pas de nationalité européenne, il peut être nécessaire de déclarer sa présence auprès du 
<a href="http://www.dgdr.cnrs.fr/FSD/securite-echanges/visites.htm">Fonctionnaire Sécurité Défense</a>. Contactez 
<a href="beatrice.pibaret@obs.ujf-grenoble.fr">Béatrice Pibaret</a> en lui fournissant les renseignements suivants&nbsp;:</p>
<ul><li>date et lieu de naissance</li>
	<li>nom et adresse de l'établissement d'origine</li>
	<li>le programme scientifique (quelques lignes)</li>
	<li>la source de financement du séjour</li></ul>
</div>

<form action="{% url 'new-arrival-form' %}" method="post">{% csrf_token %}

<h2>L'accueillant (ou le responsable hiérarchique</h2>
<table><tbody>
<tr><th>Nom</th><td><select name="manager">{% for u in allusers %}
<option value="{{ u.uidnumber }}"
{% if newuser.manager %}
	{% if u.uidnumber == newuser.manager %}
		selected
	{% endif %}
{% else %}
	{% if user.username == u.login %}
		selected
	{% endif %}
{% endif %}>{{ u.full_name }}</option>{% endfor %}</select></td></tr>
</tbody></table>

<h2>Le nouvel arrivant</h2>
<table><tbody>

{% if errors.last_name %}<tr><td colspan="2" class="form-error">{{ errors.last_name }}</td></tr>{% endif %}
<tr><th>Nom&nbsp;<span class="must-have">●</span></th><td><input type="text" name="last_name" value="{{ newuser.last_name }}"/></td></tr>

{% if errors.first_name %}<tr><td colspan="2" class="form-error">{{ errors.first_name }}</td></tr>{% endif %}
<tr><th>Prénom&nbsp;<span class="must-have">●</span></th><td><input type="text" name="first_name" value="{{ newuser.first_name }}"/></td></tr>

{% if errors.birthdate %}<tr><td colspan="2" class="form-error">{{ errors.birthdate }}</td></tr>{% endif %}
<tr><th>Date de naissance&nbsp;<span class="must-have">●</span></th>
	<td><input type="text" name="birthdate" value="{{ newuser.birthdate }}"/></td></tr>

{% if errors.external_email %}<tr><td colspan="2" class="form-error">{{ errors.external_email }}</td></tr>{% endif %}
<tr><th>Adresse email externe&nbsp;<span class="must-have">●</span></th>
	<td><input type="text" name="external_email" value="{{ newuser.external_email }}"/></td></tr>

{% if errors.citizenship %}<tr><td colspan="2" class="form-error">{{ errors.citizenship }}</td></tr>{% endif %}
<tr><th>Nationalité&nbsp;<span class="must-have">●</span></th><td><select name="citizenship">{% for c in allcountries %}
<option value="{{ c.iso2 }}"
	{%if newuser.citizenship%}{%if c.iso2 == newuser.citizenship%}selected{%endif%}{%else%}{%if c.iso2 == DEFAULT_COUNTRY%}selected{%endif%}{%endif%}
	>{{ c.citizenship }}</option>
{% endfor %}</select></td></tr>

{% if errors.status %}<tr><td colspan="2" class="form-error">{{ errors.status }}</td></tr>{% endif %}
<tr><th>Statut au sein de l'IPAG&nbsp;<span class="must-have">●</span><br/>
	<span class="note">Si le nouvel arrivant n'est <strong>PAS</strong> futur personnel IPAG, lui attribuer le statut <strong>Invité</strong>
		ou <strong>Stagiaire</strong></span></th><td><select name="status">{% for uc in alluserclasses %}
<option value="{{ uc.id }}" data-probie="{{ uc.probie|yesno:"true,false" }}" {% if newuser.status and newuser.status == uc.id %} selected{%endif%}>{% if uc.fr %}{{ uc.fr }}{% else %}{{ uc }}{% endif %}</option>{% endfor %}</select></td></tr>

{% if errors.study_level %}<tr id="study_level_error"><td colspan="2" class="form-error">{{ errors.study_level }}</td></tr>{% endif %}
<tr><th class="right note">précisez le niveau (L1, L2, M1, ...)</th>
	<td><input type="text" name="study_level" value="{{ newuser.study_level }}"/></td></tr>

{% if errors.ujf_student %}<tr id="ujf_student_error"><td colspan="2" class="form-error">{{ errors.ujf_student }}</td></tr>{% endif %}
<tr><th class="right note">Étudiant UJF</th>
	<td><input type="radio" name="ujf_student" value="1"{%if newuser.ujf_student == "1" %} checked{%endif%}>oui 
		<input type="radio" name="ujf_student" value="0"{%if newuser.ujf_student == "0" %} checked{%endif%}>non</td></tr>

{% if errors.team %}<tr><td colspan="2" class="form-error">{{ errors.team }}</td></tr>{% endif %}
<tr><th>Équipe&nbsp;<span class="must-have">●</span></th><td><select name="team">{% for team in allteams %}
<option value="{{ team.gidnumber }}"{% if newuser.team == team.gidnumber%} selected{%endif%}>{{ team.description }}</option>{% endfor %}</select></td></tr>

{% if errors.office %}<tr><td colspan="2" class="form-error">{{ errors.office }}</td></tr>{% endif %}
<tr><th>Bureau&nbsp;<span class="must-have">●</span></th><td><select name="office">
<option value=""{%if newuser.office == ""%} selected{%endif%}>Autre</option>{% for o in alloffices %}
<option value="{{o.ref}}"{% if newuser.office == o.ref %} selected{%endif%}>{{o}}</option>{% endfor %}</select></td></tr>

{% if errors.other_office %}<tr id="other_office_error"><td colspan="2" class="form-error">{{ errors.other_office }}</td></tr>{% endif %}
<tr><th class="right note">Précisez</th><td><input type="text" name="other_office" value="{{newuser.other_office}}"/></td></tr>
</tbody></table>


<h2>Le séjour</h2>
<table><tbody>

{% if errors.arrival %}<tr><td colspan="2" class="form-error">{{ errors.arrival }}</td></tr>{% endif %}
<tr><th>Date d'arrivée&nbsp;<span class="must-have">●</span></th>
	<td><input type="text" name="arrival" value="{{ newuser.arrival }}"/></td></tr>

{% if errors.departure %}<tr><td colspan="2" class="form-error">{{ errors.departure }}</td></tr>{% endif %}
<tr><th>Date de départ<br/><span class="note">pour les pesonnels non-permanents uniquement</span></th>
	<td><input type="text" name="departure" value="{{ newuser.departure }}"/></td></tr>
</tbody></table>

<h2>Les moyens techniques</h2>

<table><tbody>
{% if errors.access %}<tr><td colspan="2" class="form-error">{{ errors.access }}</td></tr>{% endif %}
<tr><th>Accès aux batiments&nbsp;<span class="must-have">●</span></th>
	<td><input type="checkbox" name="obs_a"{% if newuser.obs_a %} checked{%endif%}/>Batiment A (observatoire)<br/>
		<input type="checkbox" name="phy_d"{% if newuser.phy_d %} checked{%endif%}/>Phytem D<br/>
		<input type="checkbox" name="osug_d"{% if newuser.osug_d %} checked{%endif%}/>OSUG D</td></tr>
</tbody></table>

<h3>Informatique</h3>
<div class="warning">
<ul><li>Une station de travail fixe ne sera installée que dans un <strong>bureau définitif</strong></li>
<li>Les stagiaires <strong>doivent</strong> utiliser une station de travail libre service.<br/>
	Consultez le tableau de réservation des places
	<a href="http://ipag.osug.fr/twiki/bin/view/Ipag/Intranet/DisponibiliteSallesStagiairesVisu1An?skin=plain">stagiaire</a></li>
<li><strong>Les équipements personnels ne sont pas autorisés sur le réseau de l'institut</strong></li></ul>
</div>
<table><tbody>

{% if errors.comp_account %}<tr><td colspan="2" class="form-error">{{ errors.comp_account }}</td></tr>{% endif %}
<tr><th>Compte informatique&nbsp;<span class="must-have">●</span></th>
	<td><input type="radio" name="comp_account" value="1"{% if newuser.comp_account == "1" %} checked{%endif%}>oui
		<input type="radio" name="comp_account" value="0"{% if newuser.comp_account == "0" %} checked{%endif%}>non</td></tr>

{% if errors.os_type %}<tr><td colspan="2" class="form-error">{{ errors.os_type }}</td></tr>{% endif %}
<tr><th>Type de station de travail&nbsp;<span class="must-have">●</span></th>
	<td><select name="os_type">{% for t in allostypes %}
<option value="{{t.0}}"{% if newuser.os_type == t.0 %} selected{%endif%}>{{t.1}}</option>{% endfor %}</select></td></tr>

<tr><th class="right note">Précisez</th>
	<td><input type="text" name="specific_os" value="{{ newuser.specific_os }}"/></td></tr>

{% if errors.comp_purchase %}<tr><td colspan="2" class="form-error">{{ errors.comp_purchase }}</td></tr>{% endif %}
<tr><th>Achat de matériel en cours&nbsp;<span class="must-have">●</span></th>
	<td><input type="radio" name="comp_purchase" value="1"{% if newuser.comp_purchase == "1" %} checked{%endif%}>oui
        <input type="radio" name="comp_purchase" value="0"{% if newuser.comp_purchase == "0" %} checked{%endif%}>non</td></tr>
</tbody></table>

<h3>Autres</h3>
<table><tbody>

{% if errors.ir_lab %}<tr><td colspan="2" class="form-error">{{ errors.ir_lab }}</td></tr>{% endif %}
<tr><th>Accès laboratoires optique IR&nbsp;<span class="must-have">●</span></th>
	<td><input type="radio" name="ir_lab" value="1"{% if newuser.ir_lab == "1" %} checked{%endif%}>oui
        <input type="radio" name="ir_lab" value="0"{% if newuser.ir_lab == "0" %} checked{%endif%}>non</td></tr>

{% if errors.workshop %}<tr><td colspan="2" class="form-error">{{ errors.workshop }}</td></tr>{% endif %}
<tr><th>Accès atelier mécanique&nbsp;<span class="must-have">●</span></th>
	<td><input type="radio" name="workshop" value="1"{% if newuser.workshop == "1" %} checked{%endif%}>oui
        <input type="radio" name="workshop" value="0"{% if newuser.workshop == "0" %} checked{%endif%}>non</td></tr>

{% if errors.chem_lab %}<tr><td colspan="2" class="form-error">{{ errors.chem_lab }}</td></tr>{% endif %}
<tr><th>Accès laboratoires de chimie&nbsp;<span class="must-have">●</span></th>
	<td><input type="radio" name="chem_lab" value="1"{% if newuser.chem_lab == "1" %} checked{%endif%}>oui
        <input type="radio" name="chem_lab" value="0"{% if newuser.chem_lab == "0" %} checked{%endif%}>non</td></tr>
</tbody></table>

<h2>Hygiène et sécurité</h2>
<div class="warning">Le nouvel arrivant est-il susceptible d'effectuer des travaux dans des salles de manip (laboratoires
infrarouge, laboratoire de chimie, hall d'intégration, labo SWIFTS...), même pour une activité infime&nbsp;? il est
<strong>impératif</strong> qu'il ait été sensibilisé au préalable par les Assistants de Prévention</div>
<table><tbody>

{% if errors.risky_activity %}<tr><td colspan="2" class="form-error">{{ errors.risky_activity }}</td></tr>{% endif %}
<tr><th>Activité à risques&nbsp;<span class="must-have">●</span></th>
	<td><input type="radio" name="risky_activity" value="1"{% if newuser.risky_activity == "1" %} checked{%endif%}>oui
        <input type="radio" name="risky_activity" value="0"{% if newuser.risky_activity == "0" %} checked{%endif%}>non</td></tr>
</tbody></table>

<h2>Commentaires éventuels</h2>
<table><tbody>
<tr><td colspan=2><textarea name="comments">{{newuser.comments}}</textarea></td></tr>


<table> <tbody>
<tr><th></th><td><button>envoyer la demande</button></td></tr>
</tbody> </table>
</form>
{% endblock %}
