{% extends "ipag-base.html" %}
{% load staticfiles %}
{% block title %} - Dashboard{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static "css/user-list.css" %}"/>{% endblock %}
{% block content %}
<p><a href="{% url 'dashboard' %}">retour au dashboard</a></p>
<p>user index</p>
<h1>liste des utilisateurs</h1>
<p>{{ users|length }} utilisateurs</p>
<table>
  <thead>
    <tr>
      <th>Nom de famille</th>
      <th>Prénom</th>
      <th>Adresse Mail</th>
      <th>Login</th>
      <th>Date de départ</th>
      <th>Équipe principale</th>
    </tr>
  </thead>
  <tbody>
{% for user in users %}
    <tr class="{{ user.account_status }}">
		<td>{{ user.last_name }}</td>
		<td>{{ user.first_name }}</td>
		<td>{{ user.mail }}</td>
		<td><a href="{% url 'user-view' user.uidnumber %}">{{ user.login }}</a></td>
		<td>{{ user.departure|date:"c" }}</td>
        <td>{{ user.main_team.description }}</td>
	</tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
