{% extends "ipag-base.html" %}
{% block title %} - Dashboard{% endblock %}
{% block content %}
<p><a href="{% url 'dashboard' %}">retour au dashboard</a></p>
<p>user index</p>
<h1>liste des utilisateurs</h1>
<p>{{ users|length }} utilisateurs</p>
<table>
  <tbody>
{% for user in users %}
    <tr>
		<td><a href="{% url 'user-view' user.uidnumber %}">{{ user.login }}</a></td>
		<td>{{ user.last_name }}</td>
		<td>{{ user.first_name }}</td>
		<td>{{ user.mail }}</td>
		<td>{{ user.uidnumber }}</td>
		<td>{{ user.departure|date:"c" }}</td>
	</tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
