{% extends "ipag-base.html" %}
{% load staticfiles %}
{% block title %} - Dashboard{% endblock %}
{% block css %}<link rel="stylesheet" type="text/css" href="{% static "css/user-list.css" %}"/>
<style type="text/css">
#legende {
	position: absolute;
	top: 3em;
	right: 0;
	width: 15%;
	height: 3.8em;
	padding: 3pt;
	border: 1px solid #ccc;
}
.swatch {
	display: inline-block;
	width: 1em;
	height: 1em;
	border: 1px solid black;
}
</style>{% endblock %}
{% block content %}
<p><a href="{% url 'dashboard' %}">retour au dashboard</a></p>
<p>user index</p>
<h1>liste des utilisateurs</h1>
<p>{{ users|length }} utilisateurs</p>
<table>
	<thead>
		<tr>
			<th>Nom de famille</th>
			<th>Prénom</th>
			<th>Adresse Mail</th>
			<th>Login</th>
			<th>Date de départ</th>
			<th>Date de suspension</th>
			<th>Statut</th>
			<th>Équipe principale</th>
		</tr>
	</thead>
	<tbody>
{% for user in users %}
    	<tr class="{{ user.account_status }}">
			<td>{{ user.last_name }}</td>
			<td>{{ user.first_name }}</td>
			<td>{{ user.mail }}</td>
			<td><a href="{% url 'user-view' user.uidnumber %}">{{ user.login }}</a></td>
			<td>{{ user.departure|date:"c" }}</td>
			<td>{{ user.suspend_date|date:"c" }}</td>
			<td>{{ user.userclass.fr }}</td>
    	    <td>{{ user.main_team.description }}</td>
		</tr>
{% endfor %}
	</tbody>
</table>
<div id="legende">
<div><div class="swatch user-departure-soon">&nbsp;</div> 30 jours avant le départ</div>
<div><div class="swatch user-departure-purgatory">&nbsp;</div> Prolongé</div>
<div><div class="swatch user-departure-gone">&nbsp;</div> Suspendu</div>
</div>
{% endblock %}
