.warning {
	border: 2px solid red;
	padding: 1ex;
	width:  60em;
}

h1, h2 {
	color: #13598f;
}
h2 {
	border-bottom: 1px solid #ccc;
}
td, th {
	padding-left: 0;
	padding-right: 0;
}
form > table > tbody > tr > th {
	width: 20em;
	padding-right: 1em;
}
table {
	border-collapse: collapse;
}
.note {
	font-weight: normal;
	font-size: 8pt;
}
.right {
	text-align: right;
}
.must-have {
	color: red;
}
.form-error {
	color: red;
	font-weight: bold;
	padding-left: 21em;
}
select {
	width: 20em;
	-moz-appearance: none;
	appearance: none;
	box-sizing: content-box;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 3px;
}
input[type="text"] {
	width: 20em;
	-moz-appearance : none;
	appearance : none;
	box-sizing: content-box;
	border: 1px solid #999;
	border-radius: 3px;
	padding: 3px;
}
textarea {
	font-family: inherit;
	font-size: inherit;
	font-weight: inherit;
	-moz-appearance: none;
	appearance: none;
	box-sizing: content-box;
	border: 1px solid #999;
	border-radius: 3px;
	width: 41em;
	height: 20ex;
	padding: 3px;
}
.hasDatepicker + img {
	vertical-align: bottom;
}
